body {
    background-color: black;
  }
 h1 {
    color:yellow;
    
  }
 p {
   color:white;
 }
 h2 {
    color:white;
    
   }
   p1
     {
        color:white;
    }
    p2 {
        color:yellow;
    }
    h3 {
        color:white;
        
       }
   